{% load static %}

<div class="shows-events-tabs">
    <div class="col-lg-12">
        <div class="heading-tabs">
            <div class="row">
                
                
                      <div class="main-dark-button">
                        {% if user.is_authenticated %}
                          <a href="{% url 'event_list' %}">Update Event </a>
                        {% endif %}
                      </div>
                
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            {% for event in event_requests %}
            <div class="col-lg-12">
                <div class="row ui-tabs ui-widget ui-widget-content ui-corner-all" id="tabs">
                    <div class="col-lg-12">
                        
                    </div>
                    <div class="col-lg-12">
                        <section class="tabs-content">
                            <article id="tabs-1" aria-labelledby="ui-id-1" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="false" style="display: block;">
                                <div class="row">
                                   
                                    
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="event-item">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="left-content">
                                                                <h4>{{event.title}}</h4>
                                                                <p>{{ event.description|truncatewords:15 }}</p>
                                                                <div class="main-dark-button"><a href="{% url 'purchase_tickets' %}">Purchase Tickets</a></div>
                                                                
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            {% if event.image and event.image.url %}
                                                            <div class="thumb">
                                                                <img src="{{ event.image.url}}" alt="{{ event.name }}">
                                                            </div>
                                                            {% else %}
                                                            <p>No image available.</p>
                                                            {% endif %}

                                                            
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="right-content">
                                                                <ul>
                                                                    <li>
                                                                        <i class="fa fa-clock-o"></i>
                                                                        <h6>{{ event.date_from|date:"M d l" }}<br>{{ event.date_from|time:"h:i A" }} - {{ event.date_to|time:"h:i A" }}</h6>
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-map-marker"></i>
                                                                        <span>{{ event.location }}</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-users"></i>
              {{event.capacity}}                                                          <span>Total Guests Attending</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </article>                            
                            <article id="tabs-2" aria-labelledby="ui-id-2" class="ui-tabs-panel ui-widget-content ui-corner-bottom" role="tabpanel" aria-hidden="true" style="display: none;">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="heading"><h2>Upcoming</h2></div>
                                    </div>
                                    <div class="col-lg-3">
                                        <div class="sidebar">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    <div class="heading-sidebar">
                                                        <h4>Sort The Upcoming Shows &amp; Events By:</h4>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="month">
                                                        <h6>Month</h6>
                                                        <ul>
                                                            <li><a href="#">July</a></li>
                                                            <li><a href="#">August</a></li>
                                                            <li><a href="#">September</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="category">
                                                        <h6>Category</h6>
                                                        <ul>
                                                            <li><a href="#">Pop Music</a></li>
                                                            <li><a href="#">Rock Music</a></li>
                                                            <li><a href="#">Hip Hop Music</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-lg-12">
                                                    <div class="venues">
                                                        <h6>Venues</h6>
                                                        <ul>
                                                            <li><a href="#">Radio City Musical Hall</a></li>
                                                            <li><a href="#">Madison Square Garden</a></li>
                                                            <li><a href="#">Royce Hall</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="event-item">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="left-content">
                                                                <h4>Water Splash Festival</h4>
                                                                <p>Lorem ipsum dolor sit amet, consectetur do adipiscing eliterirt sed eiusmod alori...</p>
                                                                <div class="main-dark-button"><a href="event-details.html">Discover More</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="thumb">
                                                                <img src="{%  static 'images/event-page-04.jpg' %}" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="right-content">
                                                                <ul>
                                                                    <li>
                                                                        <i class="fa fa-clock-o"></i>
                                                                        <h6>April 24 Friday<br>12:00 AM - 12:00 PM</h6>
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-map-marker"></i>
                                                                        <span>Copacabana Beach, Rio de Janeiro</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-users"></i>
                                                                        <span>528 Total Guests Attending</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="event-item">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="left-content">
                                                                <h4>Sunny Hill Festival</h4>
                                                                <p>Lorem ipsum dolor sit amet, consectetur do adipiscing eliterirt sed eiusmod alori...</p>
                                                                <div class="main-dark-button"><a href="event-details.html">Discover More</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="thumb">
                                                                <img src="{%  static 'images/event-page-03.jpg' %}" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="right-content">
                                                                <ul>
                                                                    <li>
                                                                        <i class="fa fa-clock-o"></i>
                                                                        <h6>May 31 Friday<br>10:00 AM - 11:00 PM</h6>
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-map-marker"></i>
                                                                        <span>Copacabana Beach, Rio de Janeiro</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-users"></i>
                                                                        <span>240 Total Guests Attending</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="event-item">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="left-content">
                                                                <h4>New Rock Festival</h4>
                                                                <p>Lorem ipsum dolor sit amet, consectetur do adipiscing eliterirt sed eiusmod alori...</p>
                                                                <div class="main-dark-button"><a href="event-details.html">Discover More</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="thumb">
                                                                <img src="{%  static 'images/event-page-02.jpg' %}" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="right-content">
                                                                <ul>
                                                                    <li>
                                                                        <i class="fa fa-clock-o"></i>
                                                                        <h6>June 12 Friday<br>09:00 AM - 09:00 PM</h6>
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-map-marker"></i>
                                                                        <span>Copacabana Beach, Rio de Janeiro</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-users"></i>
                                                                        <span>360 Total Guests Attending</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="event-item">
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            <div class="left-content">
                                                                <h4>Monkey Dance Festival</h4>
                                                                <p>Lorem ipsum dolor sit amet, consectetur do adipiscing eliterirt sed eiusmod alori...</p>
                                                                <div class="main-dark-button"><a href="event-details.html">Discover More</a></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="thumb">
                                                                <img src="{%  static 'images/event-page-01.jpg' %}" alt="">
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-4">
                                                            <div class="right-content">
                                                                <ul>
                                                                    <li>
                                                                        <i class="fa fa-clock-o"></i>
                                                                        <h6>July 14 Friday<br>08:30 AM - 09:30 PM</h6>
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-map-marker"></i>
                                                                        <span>Copacabana Beach, Rio de Janeiro</span>
                                                                    </li>
                                                                    <li>
                                                                        <i class="fa fa-users"></i>
                                                                        <span>450 Total Guests Attending</span>
                                                                    </li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <div class="pagination">
                                                    <ul>
                                                        <li><a href="#">Prev</a></li>
                                                        <li><a href="#">1</a></li>
                                                        <li class="active"><a href="#">2</a></li>
                                                        <li><a href="#">3</a></li>
                                                        <li><a href="#">Next</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </article>    
                        </section>
                    </div>
                </div>
           
            </div>
            {% endfor %}

        </div>

    </div>
</div>





  
  
  <!-- Global Init -->
  <script src="{% static 'js/custom.js' %}"></script>

  <script src="{% static 'js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'js/waypoints.min.js' %}"></script>
    <script src="{% static 'js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'js/imgfix.min.js' %}"></script> 
    <script src="{% static 'js/mixitup.js' %}"></script> 
    <script src="{% static 'js/accordions.js' %}"></script>
    <script src="{% static 'js/owl-carousel.js' %}"></script>
    
    <!-- Global Init -->
    <script src="{% static 'js/custom.js' %}"></script>