{% load static %}
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{% url 'index' %}" class="logo">Event<em>Ease</em></a>
                    <!-- ***** Logo End ***** -->
                    <!-- ***** Menu Start ***** -->
                    <ul class="nav">
                        <li><a href="{% url 'index' %}" class="active">Home</a></li>
                        <li><a href="{% url 'display_event' %}">Shows & Events</a></li> 
                        <li><a href="{% url 'create_event' %}">Rent Venue</a></li>
                        <li><a href="{% url 'tickets' %}">Tickets</a></li> 
                        <li><a href="{% url 'login' %}">Login</a></li>
                    </ul>        
                    <a class='menu-trigger'>
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>