{% extends 'blank_layout.html' %}
<!-- *** Header *** -->
{% block header%}
{% include 'header.html' %}
{% endblock header%}

<!-- *** Main_banner *** -->
{% block main_banner%}
{% include 'main_banner.html' %}
{% endblock main_banner%}

<!-- *** Venue_banner *** -->
{% block venue_banner%}
{% include 'venue_banner.html' %}
{% endblock venue_banner%}

<!-- *** Events *** -->
{% block events %}
{% include 'events.html' %}
{% endblock events %}

<!-- *** Subscribe *** -->
{% block subscription %}
{% include 'subscription.html' %}
{% endblock subscription %}

    <!-- *** Footer *** -->
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}