{% load static %}
<body>
    
    <div class="ticket-details-page">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-8">
                    <div class="left-image">
                        <img src="{{ event_ticket.image.url}}" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="right-content">
                        <h4>Sunny Hill Festival</h4>
                        <span>{{event_ticket.capacity}} Tickets still available</span>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> {{event_ticket.date}} ,{{event_ticket.time}}</li>
                            <li><i class="fa fa-map-marker"></i>{{event_ticket.location}}, Rio de Janeiro</li>
                        </ul>
                        <div class="quantity-content">
                            <div class="left-content">
                                <h6>Standard Ticket</h6>
                                <p>${{event_ticket.ticket_price}} per ticket</p>
                            </div>
                            <div class="right-content">
                                <div class="quantity buttons_added">
                                    <input type="button" value="-" class="minus"><input type="number" step="1" min="1" max="" name="quantity" value="1" title="Qty" class="input-text qty text" size="4" pattern="" inputmode=""><input type="button" value="+" class="plus">
                                </div>
                            </div>
                        </div>
                        <div class="total">
                            <h4>Total: ${{event_ticket.ticket_price}}</h4>
                            <div class="main-dark-button"><a href="#">Purchase Tickets</a></div>
                        </div>
                        <div class="warn">
                            <p>*You Can Only Buy 10 Tickets For This Show</p>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>


    

    
    
    

    

  


</body>