{% load static %}
{% load calculate_total %}
<body>
    
    <div class="ticket-details-page">
        <div class="container">
            
            <div class="row">
                <div class="col-lg-8">
                    <div class="left-image">
                        <img src="{{ event_ticket.image.url}}" alt="">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="right-content">
                        <h4>Sunny Hill Festival</h4>
                        <span>{{event_ticket.available_tickets}} Tickets still available</span>
                        <ul>
                            <li><i class="fa fa-clock-o"></i> {{event_ticket.date}} ,{{event_ticket.time}}</li>
                            <li><i class="fa fa-map-marker"></i>{{event_ticket.location}}, Rio de Janeiro</li>
                        </ul>
                        <div class="quantity-content">
                            <div class="left-content">
                                <h6>Standard Ticket</h6>
                                <p>${{event_ticket.ticket_price}} per ticket</p>
                            </div>
                            <form id="ticket-form" method="post" action="{% url 'process_purchase' event_ticket.pk %}">
                                {% csrf_token %}
                                <div class="right-content">
                                    <div class="quantity buttons_added">

                                        <input type="button" value="-" class="minus" onclick="changeQuantity(-1)">
                                        <input type="number" 
                                               id="quantity" 
                                               step="1" 
                                               min="1" 
                                               max="10" 
                                               name="quantity" 
                                               value="{{ quantity|default:1 }}" 
                                               title="Qty" 
                                               class="input-text qty text">
                                        <input type="button" value="+" class="plus" onclick="changeQuantity(1)">
                                    </div>
                                    
                                    
                                    
                                    <p>Ticket Price: <span id="ticket-price" data-price="{{ event_ticket.ticket_price }}">{{ event_ticket.ticket_price }}</span></p>
                                    <!-- <p>Total Price: <span id="total-price">${{ event_ticket.ticket_price }}</span></p> -->
                                </div>
                                
                                <div class="total">
                                    <h4  id="total-price">Total Price: ${{ event_ticket.ticket_price|floatformat:2 }}</h4>
                                    <div class="main-dark-button"><a style="color: aliceblue;" type="button" onclick="submitForm()" >Purchase Tickets</a></div>
                                </div>
                                
                                
                                </div>
                                <div class="warn">
                                    <p>*You Can Only Buy 10 Tickets For This Show</p>
                                </div>
                            </form>
                            
                            
                            
                        </div>
                        <!-- <div class="total">

                            <h4>Total: ${% calculate_total event_ticket.ticket_price quantity|default:0  %}</h4>
                            <div class="main-dark-button"><a href="{% url 'ticket_success' event_ticket.pk %}"  onclick="submitForm()">Purchase Tickets</a></div>
                        </div>
                        <div class="warn">
                            <p>*You Can Only Buy 10 Tickets For This Show</p>
                        </div> -->
                    </div>
                </div>
            </div>
            
        </div>

    </div>



    
    
    <!-- <script>
    function changeQuantity(change) {
        // Get the quantity input element
        const quantityInput = document.getElementById('quantity');
        
        // Parse the current value
        let currentValue = parseInt(quantityInput.value);
    
        // Calculate the new value
        let newValue = currentValue + change;
    
        // Ensure the value stays within the min and max bounds
        if (newValue < parseInt(quantityInput.min)) {
            newValue = parseInt(quantityInput.min);
        } else if (newValue > parseInt(quantityInput.max)) {
            newValue = parseInt(quantityInput.max);
        }
    
        // Set the new value
        quantityInput.value = newValue;
    
        // Trigger the form submission
        updateTotalPrice(newValue, ticketPrice)
        // quantityInput.form.submit();
    }
    


    
</script> -->


    

    <script src="{% static 'js/ticket.js' %}"></script>


</body>