{% extends 'blank_layout.html' %}
{% load static %}
{% block header%}
{% include 'header.html' %}
{% endblock header%}

{% block success %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ticket Purchase Successful</title>
</head>
<body>
    <h1 style="text-align: center; color: green;">Purchase Successful</h1>
    <p style="text-align: center; color: rgb(222, 87, 87);">Tickets purchased: {{ quantity }}</p>
    <p style="text-align: center; color: rgb(222, 87, 87);">Total price: ${{ total_price }}</p>
    <p style="text-align: center; color: rgb(222, 87, 87);">Seat No:: {{ ticket_ids|join:", " }}</p>

    
</body>
</html>





{% endblock success %}
{% block footer %}
{% include 'footer.html' %}
{% endblock footer %}
